:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --black-color: #000000;
  --icons-color: #afb1b8;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Утилиты */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 0;
  border: none;
  background: none;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;

  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
/* Модальное окно */
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  z-index: 2;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}
.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;

  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 581px;
  min-width: 528px;

  background-color: var(--primary-background-color);
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;
  border: none;
  background: none;

  width: 30px;
  height: 30px;

  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.modal-icon {
  fill: var(--black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover .modal-icon {
  fill: var(--accent-color);
}
.modal-label {
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.field {
  display: block;
  margin-bottom: 10px;
}
.field-label {
  margin-bottom: 4px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: #757575;
}

.input-field {
  position: relative;
}
.field .input {
  padding: 11px 12px 11px 40px;
  width: 448px;
  height: 40px;
  left: 576px;
  top: 314px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus-within + .field-icon {
  fill: var(--accent-color);
}

.input:focus,
.input:hover {
  border-color: #2196f3;
}

.field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal textarea {
  resize: none;
  padding: 12px 16px;

  width: 448px;
  height: 120px;
  left: 576px;
  top: 518px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal textarea:focus,
textarea:hover {
  border-color: var(--accent-color);
}
.modal textarea::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 425px;
}

.checkbox .icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  background-image: url(../images/vector.svg);
  background-size: contain;
}

.legal-text {
  display: inline-block;
}

.legal:checked + .icon {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
}
.legal {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
.policy {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: #2196f3;
}

.modal-submit {
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.but-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
/* Главная навигация */
.header {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.left-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* Лого */
.logo {
  margin: auto 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  text-align: center;

  color: var(--black-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* Навигация */

.nav {
  display: flex;
  margin-left: 93px;
  flex-wrap: wrap;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  list-style: none;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .item {
  margin-right: 50px;
}

.nav .item:last-child {
  margin-right: 0px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
  position: relative;

  z-index: 1;
}

.item .current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
  left: 0;

  border-radius: 2px;
}
/* Адрес */
.address-list {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-info {
  display: inline-flex;
  align-items: center;
}
.address-list .item + .item {
  margin-left: 50px;
}
.address-list .item:hover,
.address-list .item:focus {
  color: var(--accent-color);
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.address-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-info:hover,
.address-info:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-button {
  display: block;
  margin: 0 auto;

  min-width: 200px;
  height: 50px;
  padding: 10px 32px;

  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #2196f3;
  color: var(--primary-background-color);
}

/* Наши преимущества */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features .item {
  width: 270px;
}
.featutes-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.features .item:nth-child(1):before {
  background-image: url(../images/icons.svg#icon-antenna);
}
.features-title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

/* Чем мы занимаемся */
.services {
  padding-bottom: 94px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--title-text-color);
}
.services-title {
  margin-bottom: 50px;
}
.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-list .item {
  position: relative;

  width: 370px;
  height: 294px;
}
.services-list .caption {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  height: 70px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
}

.services-list .caption-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
/* Наша команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  width: 270px;
  background-color: var(--primary-background-color);
}

.item-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team .name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: var(--title-text-color);
}

.team .job {
  font-size: 14px;
  line-height: 1.18;
  text-align: center;

  color: var(--primary-text-color);
}
.team .socials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}
.team .social-container {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team .social-container:hover,
.team .social-container:focus {
  background-color: var(--accent-color);
}

.team .social-container:hover .team-social {
  fill: white;
}
.team .social-container:focus .team-social {
  fill: white;
}
.team-social {
  display: block;
  margin: 12px;
  fill: var(--icons-color);
}

/* Клиенты */
.clients {
  padding: 94px 0;
}
.clients .title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients-container {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-container:hover,
.clients-container:focus {
  border: 1px solid var(--accent-color);
}

.clients-container:hover .clients-icon {
  fill: var(--accent-color);
}
.clients-container:focus .clients-icon {
  fill: var(--accent-color);
}
.clients-icon {
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 16px;
  margin-top: 16px;

  fill: var(--icons-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
}

.footer .socials {
  margin-top: 14px;
  margin-left: 70px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  color: #ffffff;
}
.footer-address {
  font-style: normal;
  color: #ffffff;
}
.footer .item {
  margin-top: 9px;
}
.footer .address-info {
  display: inline-block;

  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .address-info:hover,
.footer .address-info:focus {
  color: var(--accent-color);
}

.socials-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}

.socials-container {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  flex-wrap: wrap;
}

.social-area {
  width: 44px;
  height: 44px;

  background-color: #ffffff10;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-area:hover,
.social-area:focus {
  background-color: var(--accent-color);
}
.footer-social {
  display: block;
  margin: 12px;

  fill: var(--primary-background-color);
}

.footer form {
  margin-top: 14px;
  margin-left: auto;

  display: flex;
}
.footer .label {
  display: flex;
  flex-direction: column;
}

.label p {
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}

.label .email {
  padding: 15px 16px;
  display: inline-block;
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: rgba(0, 0, 0, 0);

  color: var(--primary-background-color);
}

.label input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

form .email-button {
  margin-left: 12px;
  margin-top: 43px;
  display: flex;
  align-items: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

form .button-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

form .send-icon {
  margin-left: auto;
}
/* --------------------страница Портфолио------------- */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-list li {
  margin-right: 8px;
}
.portfolio-list li:last-child {
  margin-right: 0;
}

.portfolio-button {
  padding: 6px 22px;

  box-shadow: none;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  background-color: #f5f4fa;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-content {
  margin: 0 auto;
  width: 1200px;
}
.portfolio-project {
  display: inline-block;
  margin-right: 30px;
  margin-top: 30px;

  width: 370px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project:hover,
.portfolio-project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-project:nth-child(3n) {
  margin-right: 0;
}
.portfolio-project:nth-child(-n + 3) {
  margin-top: 0;
}

.portfolio-item {
  position: relative;
  text-decoration: none;
}
.item-border {
  position: absolute;
  top: 0;
  left: 0;

  width: 370px;
  height: 412px;

  border: 1px solid #eeeeee;
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-img::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 8px;
  z-index: 2;

  background-color: var(--primary-background-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio-project .caption {
  position: absolute;
  width: 100%;
  left: 0;

  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.portfolio-project:hover .caption {
  transform: translateY(-300px);
}
.portfolio-img .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;

  width: 322px;
}

.description-content {
  width: 370px;
  padding: 20px 24px;
}

.portfolio-project .image {
  margin: 0 auto;
}
.portfolio-title {
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
